.custom-size {
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: var(--padding-md);

  .ant-statistic-content {
    font-size: 16px;
  }
}

.popover-content {
  .ant-tag {
    margin-inline-end: 0;
  }
}
