.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-lg);

  .home-top {
    height: 240px;
    display: flex;
    gap: var(--padding-lg);
    justify-content: space-between;

    .home-top-left {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .home-top-right {
      width: calc(100% - 60% - var(--padding-lg));
    }
  }

  .home-bottom {
    height: calc(100% - 240px - var(--padding-lg));
    overflow-y: auto;
  }
}
